/* 
#5C7285
#818C78
#A7B49E
#E2E0C8 
*/

/* general styles */

body{
    background-color: #5C7285
}


/* header section */

#hero{
    height: 600px;
    width: 100%;
    background-image: url(../images/header-photo.jpg);
    background-color: #5C7285;
    background-size: cover;
    position: relative;
    background-position: 10% 75%;
}




/* footer styles */

footer{
    width: 100%;
    background-color: #A7B49E;
   
}

#social-network-logo{
    text-align: center;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network-logo i{
    font-size: 160%;
    padding: 5%;
    color: #5C7285;
}


 

