/* 
#5C7285 (Navy blue)
#818C78
#A7B49E
#E2E0C8 
*/

/* general styles */

body{
    background-color: #5C7285

}





/* footer styles */

#footer{
    background-color: #A7B49E;
    text-decoration: none;
}

