
/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: #5C7285;
    font-family: "Roboto Mono", monospace;
    padding: 0;
    margin: 0;
}

/* hero section */

#hero{
    height: 600px;
    max-width: 100%;
    background-image: url(../images/header-photo.jpg);
    background-color: #5C7285;
    background-size: cover;
    position: relative;
    background-position: 10% 75%;
    color: #E2E0C8;
}

#hero-txt{
    background-color: rgba(92, 114, 133, .9);
}

.btn{
    background-color:  #A7B49E;
    border-color:  #A7B49E;
    border-radius: 0;
    color: #E2E0C8;
    margin: 5px;
}

.btn:hover{
    background-color: #818C78;
    border-color: #818C78;
}

/* about me section */

#about-me{
    color: #E2E0C8;
}

/* contact me section */

#contact-me, h3{
    color: #E2E0C8;
}

#contact-me, ul{
    list-style-type: none;
}

/* footer section */

footer{
    width: 100%;
    background-color: #A7B49E;
    
}

#social-network-logo{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network-logo i{
    font-size: 160%;
    padding: 5%;
    color: #5C7285;
}


/* form page styles */

#form-text{
    color: #E2E0C8;
}


